{% extends 'layout.html' %}
{% block body %}
            <div class="large-12 columns" style="font: 12px Electrolize;padding:30px 30px;">
                <div id="itemHover" class="panel" style="background:  #f2f2f2;padding:30px;" >
                    <center>
                        <h3  style="font: 12px Electrolize;">
                            About
                        </h3>

                            <p>
                            This website is an effort to present the benefits of using electric cars over gasoline
                            powered cars in US. Electric car industry has had a tremendous growth in the past
                            few years, with many major car brands entering this segment. You can check how many
                            electric cars run on the roads of US and each company's share\AD. The website also
                            focuses on the ways electricity is produced in the country and whether there is
                            an increase consumption of electricity, due to the growth in electric car industry.
                            Users can also calculate, how much they could save if they owned an electric car
                            instead. Twitter feeds related to electric cars is available to know what the world
                            talks about this green revolution.
                        </p>



                    </center>
                </div>
            </div>
{% endblock %}
