{% extends 'layout.html' %}

{% block body %}
          <div class="large-12 columns" style="font: 16px Electrolize;">
                <div id="itemHover" class="panel" style="background:  #f2f2f2;" >
                    <center>
                        <h3  style="font: 16px Electrolize;">
                            Mileage Comparison
                        </h3>
 <div style="padding-left:60px;padding-top:40px;font-size:16px;">
<table >
    <tr>
        <th>
            Company
        </th>
        <th>
            Vehicle
        </th>
        <th>
            Model year
        </th>
        <th>
            Cost to drive 25 miles
        </th>
        <th>
            Annual fuel cost
        </th>
    </tr>
    <tr>
        <td>
            Toyota
        </td>
        <td>
            Scion iQ EV
        </td>
        <td>
            2013
        </td>
        <td>
            0.84
        </td>
        <td>
            500
        </td>
    </tr>
    <tr>
        <td>
            Honda
        </td>
        <td>
            Honda Fit EV
        </td>
        <td>
            2013
        </td>
        <td>
            0.87
        </td>
        <td>
            500
        </td>
    </tr>
    <tr>
        <td>
            Fiat
        </td>
        <td>
            Fiat 500e
        </td>
        <td>
            2013
        </td>
        <td>
            0.87
        </td>
        <td>
            500
        </td>
    </tr>
    <tr>
        <td>
            Nissan
        </td>
        <td>
            Nissan Leaf
        </td>
        <td>
            2013
        </td>
        <td>
            0.87
        </td>
        <td>
            500
        </td>
    </tr>
    <tr>
        <td>
            Mitsubishi
        </td>
        <td>
            Mitsubishi i
        </td>
        <td>
            2012-13
        </td>
        <td>
            0.9
        </td>
        <td>
            550
        </td>
    </tr>
    <tr>
        <td>
            Daimler AG
        </td>
        <td>
            Smart electric drive
        </td>
        <td>
            2013
        </td>
        <td>
            0.96
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            Ford
        </td>
        <td>
            Ford Focus Electric
        </td>
        <td>
            2012-13
        </td>
        <td>
            0.96
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            BMW
        </td>
        <td>
            BMW ActiveE
        </td>
        <td>
            2011
        </td>
        <td>
            0.99
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            Tesla
        </td>
        <td>
            Tesla Model S
        </td>
        <td>
            2013
        </td>
        <td>
            1.05
        </td>
        <td>
            650
        </td>
    </tr>
    <tr>
        <td>
            Toyota
        </td>
        <td>
            Toyota RAV4 EV
        </td>
        <td>
            2012
        </td>
        <td>
            1.32
        </td>
        <td>
            850
        </td>
    </tr>
    <tr>
        <td>
            Chevrolet
        </td>
        <td>
            Chevrolet Volt (PHEV)
        </td>
        <td>
            2013
        </td>
        <td>
            1.05
        </td>
        <td>
            900
        </td>
    </tr>
</table>
</div>                   </center>
                </div>
            </div>
{% endblock %}