{% extends 'layout.html' %}
        {% block body %}
<div style="padding:60px;">
<h1>References</h1><br/>
<ul class="nonav">
<li class="nonav"><a href=”http://www.pluginamerica.org/”>http://www.pluginamerica.org/</a></li>
<li  class="nonav"><a href=”http://insideevs.com/monthly-plug-in-sales-scorecard/”>http://insideevs.com/monthly-plug-in-sales-scorecard/</a></li>
<li class="nonav"><a href=”http://www.hybridcars.com/september-2013-dashboard”> http://www.hybridcars.com/september-2013-dashboard<a/></li>
<li class="nonav"><a href=”http://energy.gov/downloads/egallon-methodology”> http://energy.gov/downloads/egallon-methodology</a></li>
<li class="nonav"><a href=”http://energy.gov/articles/egallon-how-much-cheaper-it-drive-electricity#”>http://energy.gov/articles/egallon-how-much-cheaper-it-drive-electricity#</a></li>
<li class="nonav"><a href=”http://www.eia.gov/electricity/”>http://www.eia.gov/electricity/</a></li>
<li class="nonav" ><a href=”http://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=A103600001&f=M”> http://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=A103600001&f=M</a></li>
<li class="nonav"><a href=”http://www.portlandgeneral.com/community_environment/initiatives/electric_vehicles/basics/benefits_electric_vehicles.aspx”> http://www.portlandgeneral.com/community_environment/initiatives/electric_vehicles/basics/benefits_electric_vehicles.aspx</a></li>
<li class="nonav"><a href=”http://www.pacificpower.net/env/ev/ecr.html”> http://www.pacificpower.net/env/ev/ecr.html</a></li>
    </ul>
</div>
         <!--</div>-->
{% endblock %}
