{% extends 'layout.html' %}

{% block body %}
<div class="large-12 columns">
                <div class="panel">
                    <center>
                        <h3 style="font: 16px Electrolize;">
                            <table>
                                <tr>
                                    <td>
                                        Total Cars
                                    </td>
                                    <td>
                                        214099
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Average miles covered by each car per day
                                    </td>
                                    <td>
                                        40
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Average mileage of gasoline cars
                                    </td>
                                    <td>
                                        20
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Gallons of fuel spent by each car for 40 miles
                                    </td>
                                    <td>
                                        2
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total gallons saved by electric cars everyday
                                    </td>
                                    <td>
                                        214099*2 = 428198
                                    </td>
                                </tr>
                                </table>
                        </h3>
                    </center>
                </div>
            </div>
{% endblock %}