{% extends 'layout.html' %}
{% block js %}
<script type="text/javascript">
$(function () {

    	// Radialize the colors
		Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
		});

		// Build the chart
        $('#chart1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Percentage Share in 2012'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Electricity sources',

                data: [
                    {% for s in sources %}
                    ['{{ s.source }}', {{ s.percentage }}],
                    {% endfor %}
                ]
            }]
        });
    });
</script>
{% endblock %}

{% block body %}
            <div class="large-12 columns" style="font: 14px Electrolize;">
                <center>
                    <h4>
                        Sources of Electricity</h4>
                </center>
                <div id="Div2" class="panel" style="background: #f2f2f2;" >
                    <center>
                        <h3 style="font: 16px Electrolize;">
                            Major Sources
                        </h3>
                       <h4><div style="font: 14px Electrolize;"> - Coal , Natural Gas , Nuclear - </div></h4>
                    </center>
                </div>
            </div>
            <br />
            <br />
                <div class="large-12 columns">
                    <div id='basic-modal-1'>
                        <a href='#' class='basic'>
                            <div id="Div1" class="">
                                <center>
                                     <div id="chart1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="large-12 columns">
                    <div id='basic-modal-2'>
                        <a href='#' class='basic'>
                            <div id="Div3" class="">
                                <center>
                                    <img id="" width="500px" height="500px" src="../static/img/chart.png" style="padding: 10px;"></img>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <center>
                    <div id='table'>
                        <center>
                            <table>
                                <tr>
                                    <th rowspan="2">
                                       <center> Sources</center>
                                    </th>
                                    <th colspan="2">
                                        (In thousand megawatthours)
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        YEAR 2011
                                    </th>
                                    <th>
                                        YEAR 2012
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <b>All Fuels</b>
                                    </td>
                                    <td>
                                        4100141
                                    </td>
                                    <td>
                                        4050136
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Coal</b>
                                    </td>
                                    <td>
                                        1733430
                                    </td>
                                    <td>
                                        1514044
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Petroleum Liquids</b>
                                    </td>
                                    <td>
                                        16086
                                    </td>
                                    <td>
                                        13402
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Petroleum Coke</b>
                                    </td>
                                    <td>
                                        14096
                                    </td>
                                    <td>
                                        9787
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Natural Gas</b>
                                    </td>
                                    <td>
                                        1013689
                                    </td>
                                    <td>
                                        1225930
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Other Gases</b>
                                    </td>
                                    <td>
                                        11566
                                    </td>
                                    <td>
                                        11826
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Nuclear</b>
                                    </td>
                                    <td>
                                        790204
                                    </td>
                                    <td>
                                        769331
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Conventional Hydroelectric</b>
                                    </td>
                                    <td>
                                        319355
                                    </td>
                                    <td>
                                        276240
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                       <center> <b>Other Renewables</b></center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Wind</b>
                                    </td>
                                    <td>
                                        120177
                                    </td>
                                    <td>
                                        140820
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Solar</b>
                                    </td>
                                    <td>
                                        1818
                                    </td>
                                    <td>
                                        6734
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Geothermal</b>
                                    </td>
                                    <td>
                                        15316
                                    </td>
                                    <td>
                                        15562
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Biomass (Total)</b>
                                    </td>
                                    <td>
                                        56671
                                    </td>
                                    <td>
                                        57622
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Wood and Wood-Derived Fuels</b>
                                    </td>
                                    <td>
                                        37449
                                    </td>
                                    <td>
                                        37799
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Other Biomass</b>
                                    </td>
                                    <td>
                                        19222
                                    </td>
                                    <td>
                                        19823
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Hydro-electric Pumped Storage</b>
                                    </td>
                                    <td>
                                        -6421
                                    </td>
                                    <td>
                                        -4950
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Other</b>
                                    </td>
                                    <td>
                                        14154
                                    </td>
                                    <td>
                                        13787
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </center>
            </div>
            <div id="basic-modal-content-1" style="display: none">
                <div id="Div4" class="panel">
                    <center>
                        <img id="Img1" width="600px" height="550px" src="../static/img/chart.png" style="padding: 10px;"></img>
                    </center>
                </div>
            </div>
            <div id="basic-modal-content-2" style="display: none">
                <div id="Div6" class="panel">
                    <center>
                        <img id="Img3" width="600px" height="550px" src="../static/img/Sources_Of_Electricity.png"
                            style="padding: 10px;"></img>
                    </center>
                </div>
            </div>

            <!-- preload the images -->
            <div style='display: none'>
                <img src="../static/img/x.png" />
            </div>
        </div>
    </div>
{% endblock %}